<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hilkr.dal.dao.SeckillSkuMapper">
  <resultMap id="BaseResultMap" type="com.hilkr.dal.model.SeckillSku">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="seckill_price" jdbcType="BIGINT" property="seckillPrice" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="enable" jdbcType="BIT" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sku_id, start_time, end_time, title, seckill_price, image, enable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seckill_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seckill_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hilkr.dal.model.SeckillSku">
    insert into seckill_sku (id, sku_id, start_time, 
      end_time, title, seckill_price, 
      image, enable)
    values (#{id,jdbcType=INTEGER}, #{skuId,jdbcType=BIGINT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{seckillPrice,jdbcType=BIGINT}, 
      #{image,jdbcType=VARCHAR}, #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.hilkr.dal.model.SeckillSku">
    insert into seckill_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="enable != null">
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=BIGINT},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hilkr.dal.model.SeckillSku">
    update seckill_sku
    <set>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=BIGINT},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hilkr.dal.model.SeckillSku">
    update seckill_sku
    set sku_id = #{skuId,jdbcType=BIGINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      seckill_price = #{seckillPrice,jdbcType=BIGINT},
      image = #{image,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>