<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.hilkr.dal.dao.SpuDetailMapper">-->
  <!--<resultMap id="BaseResultMap" type="com.hilkr.dal.model.SpuDetail">-->
    <!--<id column="spu_id" jdbcType="BIGINT" property="spuId" />-->
    <!--<result column="generic_spec" jdbcType="VARCHAR" property="genericSpec" />-->
    <!--<result column="special_spec" jdbcType="VARCHAR" property="specialSpec" />-->
    <!--<result column="packing_list" jdbcType="VARCHAR" property="packingList" />-->
    <!--<result column="after_service" jdbcType="VARCHAR" property="afterService" />-->
    <!--<result column="remark" jdbcType="VARCHAR" property="remark" />-->
    <!--<result column="create_by" jdbcType="INTEGER" property="createBy" />-->
    <!--<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />-->
    <!--<result column="update_by" jdbcType="INTEGER" property="updateBy" />-->
    <!--<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />-->
    <!--<result column="del_flg" jdbcType="INTEGER" property="delFlg" />-->
  <!--</resultMap>-->
  <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hilkr.dal.model.SpuDetail">-->
    <!--<result column="description" jdbcType="LONGVARCHAR" property="description" />-->
  <!--</resultMap>-->
  <!--<sql id="Base_Column_List">-->
    <!--spu_id, generic_spec, special_spec, packing_list, after_service, remark, create_by, -->
    <!--create_time, update_by, update_time, del_flg-->
  <!--</sql>-->
  <!--<sql id="Blob_Column_List">-->
    <!--description-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from spu_detail-->
    <!--where spu_id = #{spuId,jdbcType=BIGINT}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
    <!--delete from spu_detail-->
    <!--where spu_id = #{spuId,jdbcType=BIGINT}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.hilkr.dal.model.SpuDetail">-->
    <!--insert into spu_detail (spu_id, generic_spec, special_spec, -->
      <!--packing_list, after_service, remark, -->
      <!--create_by, create_time, update_by, -->
      <!--update_time, del_flg, description-->
      <!--)-->
    <!--values (#{spuId,jdbcType=BIGINT}, #{genericSpec,jdbcType=VARCHAR}, #{specialSpec,jdbcType=VARCHAR}, -->
      <!--#{packingList,jdbcType=VARCHAR}, #{afterService,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, -->
      <!--#{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, -->
      <!--#{updateTime,jdbcType=TIMESTAMP}, #{delFlg,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.hilkr.dal.model.SpuDetail">-->
    <!--insert into spu_detail-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="spuId != null">-->
        <!--spu_id,-->
      <!--</if>-->
      <!--<if test="genericSpec != null">-->
        <!--generic_spec,-->
      <!--</if>-->
      <!--<if test="specialSpec != null">-->
        <!--special_spec,-->
      <!--</if>-->
      <!--<if test="packingList != null">-->
        <!--packing_list,-->
      <!--</if>-->
      <!--<if test="afterService != null">-->
        <!--after_service,-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--remark,-->
      <!--</if>-->
      <!--<if test="createBy != null">-->
        <!--create_by,-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="updateBy != null">-->
        <!--update_by,-->
      <!--</if>-->
      <!--<if test="updateTime != null">-->
        <!--update_time,-->
      <!--</if>-->
      <!--<if test="delFlg != null">-->
        <!--del_flg,-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--description,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="spuId != null">-->
        <!--#{spuId,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="genericSpec != null">-->
        <!--#{genericSpec,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="specialSpec != null">-->
        <!--#{specialSpec,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="packingList != null">-->
        <!--#{packingList,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="afterService != null">-->
        <!--#{afterService,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--#{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createBy != null">-->
        <!--#{createBy,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--#{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null">-->
        <!--#{updateBy,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updateTime != null">-->
        <!--#{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="delFlg != null">-->
        <!--#{delFlg,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--#{description,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.hilkr.dal.model.SpuDetail">-->
    <!--update spu_detail-->
    <!--<set>-->
      <!--<if test="genericSpec != null">-->
        <!--generic_spec = #{genericSpec,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="specialSpec != null">-->
        <!--special_spec = #{specialSpec,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="packingList != null">-->
        <!--packing_list = #{packingList,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="afterService != null">-->
        <!--after_service = #{afterService,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createBy != null">-->
        <!--create_by = #{createBy,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null">-->
        <!--update_by = #{updateBy,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updateTime != null">-->
        <!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="delFlg != null">-->
        <!--del_flg = #{delFlg,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--description = #{description,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where spu_id = #{spuId,jdbcType=BIGINT}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hilkr.dal.model.SpuDetail">-->
    <!--update spu_detail-->
    <!--set generic_spec = #{genericSpec,jdbcType=VARCHAR},-->
      <!--special_spec = #{specialSpec,jdbcType=VARCHAR},-->
      <!--packing_list = #{packingList,jdbcType=VARCHAR},-->
      <!--after_service = #{afterService,jdbcType=VARCHAR},-->
      <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--create_by = #{createBy,jdbcType=INTEGER},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--update_by = #{updateBy,jdbcType=INTEGER},-->
      <!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--del_flg = #{delFlg,jdbcType=INTEGER},-->
      <!--description = #{description,jdbcType=LONGVARCHAR}-->
    <!--where spu_id = #{spuId,jdbcType=BIGINT}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.hilkr.dal.model.SpuDetail">-->
    <!--update spu_detail-->
    <!--set generic_spec = #{genericSpec,jdbcType=VARCHAR},-->
      <!--special_spec = #{specialSpec,jdbcType=VARCHAR},-->
      <!--packing_list = #{packingList,jdbcType=VARCHAR},-->
      <!--after_service = #{afterService,jdbcType=VARCHAR},-->
      <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--create_by = #{createBy,jdbcType=INTEGER},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--update_by = #{updateBy,jdbcType=INTEGER},-->
      <!--update_time = #{updateTime,jdbcType=TIMESTAMP},-->
      <!--del_flg = #{delFlg,jdbcType=INTEGER}-->
    <!--where spu_id = #{spuId,jdbcType=BIGINT}-->
  <!--</update>-->
<!--</mapper>-->